footer{
    background-color:#09142e;
    text-align: center;
    padding: 5vh 0;
}

footer > *{
    margin-top: 5vh;
}

.footer--logo{
    width: 10%;
    margin-bottom: 5vh;
}

.footer--menu{
    padding-bottom: 5vh;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.footer--menu a{
    color: #fff;
    transition: all ease-in-out 0.2s;
}

.footer--menu a:hover{
    color: #007bff;
}

.footer--social{
    width: 100%;
    max-height: 5vh;
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}

.footer--social div{
    height: 4vh;
    width: 4vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease-in-out 0.2s;
}

/*social*/
#facebook{
    background-image: url(images/facebook_logo.png);
}

#twitter{
    background-image: url(images/twitter_logo.png);
}

#slack{
    background-image: url(images/slack_logo.png);
}

#google{
    background-image: url(images/google_logo.png);
}
/*social*/

/*social active*/
#facebook:hover{
    background-image: url(images/facebook_logo_active.png);
}

#twitter:hover{
    background-image: url(images/twitter_logo_active.png);
}

#slack:hover{
    background-image: url(images/slack_logo_active.png);
}

#google:hover{
    background-image: url(images/google_logo_active.png);
}
/*social active*/


footer p{
    padding-bottom: 10vh;
}