.frequently .content{
    width: 1200px;
    margin: 0 auto;
}

.frequently--text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 49%;
}

.frequently--text > * {
    margin-bottom: 5vh;
}

.frequently--details{
    width: 80%;
    margin: 0 auto;
}


.frequently--details summary{
    background-color: #f6f8fa;
    padding: 4vh 1vw;
    margin: 1vh 0;

    font-size: 20px;
    line-height: 20px;
    color: #242f51;
    font-weight: 600;
}


summary
{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

details p{
    background-color: #f6f8fa;
    padding: 2% 1%;
    position: relative;
    bottom: 1vh;
}

summary::after
{
    content: " + ";
}

details[open] summary:after
{
    transition: all 0.5s;
    content: " - ";
}

details[open] {
    animation: slide .3s ease-in-out;
}

@keyframes slide {
    0%    { opacity: 0; transform:  translate(0, -10px); }
    100%  { opacity: 1; transform:  translate(0, 0); }
}

