.pricing .content{
    width: 1200px;
    margin: 0 auto;
}

.pricing--text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 49%;
}

.pricing--text > * {
    margin-bottom: 5vh;
}

.pricing--choose{
    margin: 0 auto;
    border: 0.5px solid rgba(128, 128, 128, 0.356);
    width: fit-content;
    border-radius: 35px;
}

.pricing--choose button{
    margin-bottom: 1vh;
}

.pricing--choose button:hover{
    cursor:pointer;
}

.pricing--prices{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

.pricing--price--text{
    background-color: #f6f8fa;
    padding: 5vh 0;
}

.pricing--price--text h2{
    padding: 2vh 0;
    font-size: 64px;
}

.pricing--price--text h3{
    color: #242f51;
}

.pricing--price{
    width: 30%;
    text-align: center;
}


.pricing--price h4{
    display: none;
    color:  #2563ff;
    padding: 5vh 0;
}

.pricing--price span{
    font-weight: normal;
    color: #999ca5;
    font-size: 18px;
    padding: 2% 0;
    position: relative;
    font-weight: 600;
    bottom: 2vh;
    right: 1vw;
}

.checked_price{
    border: 0.5px solid rgba(128, 128, 128, 0.356);
}

.checked_price h4{
    display: block;
}

.pricing--price ul li{
    padding: 2vh 0;
    color: #999ca5;
    font-weight: 600;
}